* {
    box-sizing: border-box;
}

.contJoc {
    display: inline-flex;
    flex-wrap: wrap;
}
.casilla {
    width: 30px;
    height: 30px;
    flex-basis: 30px;
    border: 1px solid black;
    background-color: gray;
}
.bomba {
    border: 1px red solid;
}